<%= image_tag"logo.svg", size:"272x48", alt:"Morning Glory" %>

<nav class ="menubar">
  <ul>
    <%= menu_link_to"Top", :root %>
    <%= menu_link_to"News", "#" %>
    <%= menu_link_to"Blog", "#" %>
    <%= menu_link_to"Member", "#" %>
    <%= menu_link_to"Account", "#" %>
  </ul>
</nav>"#"
